fastapi==0.121.3
uvicorn==0.38.0
python-dotenv==1.2.1
pydantic==2.12.4
sqlmodel
asyncpg
redis
passlib[bcrypt]
python-jose[cryptography]
python-multipart
requests
email-validator
httpx
yake==0.6.0



pytest
pytest-asyncio
aiosqlite
