@tailwind base;
@tailwind components;
@tailwind utilities;

/* Warna background seluruh aplikasi */
html, body {
  background: #0d0d0dca;
  color: #e5e5e5;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar minimal */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
